<%- include("template/cabecera",{tituloweb:'Visualizador QR'}) %>
<div class="container mt-5">
  <h1 class="h3 mb-2 text-gray-800">Descripción de Equipos</h1>
  <div class="card shadow mb-4">
    
    <div class="card-body">
      <div class="table-responsive">
      <table id="example" class="table table-striped" style="width:100%">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <% results.forEach((componentes) => { %>
          <tr>
            <th scope="row">ID Unidad</th>
            <td class="align-middle"><%= componentes.id_unidad %></td>
            <th scope="row">Unidad</th>
            <td class="align-middle"><%= componentes.nombre_unidad %></td>
          </tr>
          <tr>
            <th scope="row">Municipio</th>
            <td class="align-middle"><%= componentes.municipio %></td>
            <th scope="row">Operación</th>
            <td class="align-middle"><%= componentes.operacion %></td>
          </tr>
          <tr>
            <th scope="row">Responsable</th>
            <td class="align-middle"><%= componentes.nombre_responsable %></td>
            <th scope="row">Área</th>
            <td class="align-middle"><%= componentes.area %></td>
          </tr>
          <tr>
            <th scope="row">Dispositivo</th>
            <td class="align-middle"><%= componentes.tipo_equipo %></td>
            <th scope="row">Marca</th>
            <td class="align-middle"><%= componentes.marca %></td>
          </tr>
          <tr>
            <th scope="row">Modelo</th>
            <td class="align-middle"><%= componentes.modelo %></td>
            <th scope="row">Descripción</th>
            <td class="align-middle"><%= componentes.descripcion_modelo %></td>
          </tr>
          <tr>
            <th scope="row">Número de Serie</th>
            <td class="align-middle"><%= componentes.numero_serie %></td>
            <th scope="row">Código TI</th>
            <td class="align-middle"><%= componentes.codigo_TI %></td>
          </tr>
          <tr>
            <th scope="row">Observaciones</th>
            <td class="align-middle"><%= componentes.observaciones %></td>
            <th scope="row">Estatus del Componente</th>
            <td class="align-middle"><%= componentes.status_componente %></td>
          </tr>
          <tr>
            <th scope="row">Estatus del Inventario</th>
            <td class="align-middle"><%= componentes.observaciones %></td>
            <th scope="row">Estatus del Componente</th>
            <% if (componentes.status_inventario == "1") { %>
            <td class="align-middle text-success">ACTIVO</td>
            <% } else { %>
            <td class="align-middle text-danger">INACTIVO</td>
            <% } %>
          </tr>
          <% }) %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
<%- include("template/footer") %>
